/*
    # Room:			Párty Music Room CZ/SK
    # Author:		ĐejviS
    # Made for:		https://plug.dj/party-music-room
    # Created:		6.8.2017
    ## WARNING ##
You are NOT allowed using this file without creator's permission!
*/

