/*
# Room:			Párty Music Room CZ/SK
# Author:		ĐejviS
# Made for:		https://plug.dj/party-music-room
# Created:		6.8.2017
## WARNING ##
You are NOT allowed using this file without creator's permission!
*/

/* Icons */

.icon-rcsmenu-main {
    background:url("http://i.imgur.com/aGlAN0b.png") !important;
}

.icon-rcsmenu-notifications {
    background:url("http://i.imgur.com/51IJrvD.png") !important;
}

.icon-rcsmenu-styling {
    background:url("http://i.imgur.com/g6EnM2n.png") !important;
}

.icon-rcsmenu-customize {
    background:url("http://i.imgur.com/jaTxmBz.png") !important;
}

.icon-rcsmenu-moderation {
    background:url("http://i.imgur.com/aVeZ1sI.png") !important;
}

.icon-rcsmenu-settings {
    background:url("http://i.imgur.com/pEY2RL6.png") !important;
}

.userlj {
    background: url("http://i.imgur.com/JXHliFt.png") 314px -349px;
    position: absolute; width: 15px; height: 15px; top: 7px;  left: 7px; 
}

.icon { 
    background-image: url("http://i.imgur.com/hgsJulV.png");
}

/* Admin Icons */

.icon-chat-admin {
    background: url("http://i.imgur.com/KVF4ubP.png") !important;
    background-position: center;
}

.message.from-admin > .icon {
    background: url("http://i.imgur.com/KVF4ubP.png") !important;
    background-position: center;
}

.emote.from-admin > .icon {
    background: url("http://i.imgur.com/KVF4ubP.png") !important;
    background-position: center;
}

.mention.from-admin > .icon {
    background: url("http://i.imgur.com/KVF4ubP.png") !important;
    background-position: center;
}

/* Brand Ambassadord Icons */

.icon-chat-ambassador {
    background: url("http://i.imgur.com/yIvOwcg.png") !important;
    background-position: center;
}

.message.from-ambassador > .icon {
    background: url("http://i.imgur.com/yIvOwcg.png") !important;
    background-position: center;
}

.emote.from-ambassador > .icon {
    background: url("http://i.imgur.com/yIvOwcg.png") !important;
    background-position: center;
}

.mention.from-ambassador > .icon {
    background: url("http://i.imgur.com/yIvOwcg.png") !important;
    background-position: center;
}

/* Host Icons */

.icon-chat-host {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.message.from-host > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.emote.from-host > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.mention.from-host > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

/* Cohost Icons */

.icon-chat-cohost {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.message.from-cohost > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.emote.from-cohost > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

.mention.from-cohost > .icon {		
    background-image: url("http://i.imgur.com/ZoKTl3k.png") !important;		
    background-position: center;		
}

/* Manager Icons */

.icon-chat-manager {		
    background-image: url("http://i.imgur.com/RfozMKi.png") !important;		
    background-position: center;		
}

.message.from-manager > .icon {		
    background-image: url("http://i.imgur.com/RfozMKi.png") !important;		
    background-position: center;		
}

.emote.from-manager > .icon {		
    background-image: url("http://i.imgur.com/RfozMKi.png") !important;		
    background-position: center;		
}

.mention.from-manager > .icon {		
    background-image: url("http://i.imgur.com/RfozMKi.png") !important;		
    background-position: center;		
}

/* Bouncer Icons */

.icon-chat-bouncer {
    background-image: url("http://i.imgur.com/KnqjbmM.png") !important;
    background-position: center;
}

.message.from-bouncer > .icon {
    background-image: url("http://i.imgur.com/KnqjbmM.png") !important;
    background-position: center;
}

.emote.from-bouncer > .icon {
    background-image: url("http://i.imgur.com/KnqjbmM.png") !important;
    background-position: center;
}

.mention.from-bouncer > .icon {
    background-image: url("http://i.imgur.com/KnqjbmM.png") !important;
    background-position: center;
}

/* Resident Dj Icons */

.icon-chat-dj {
    background-image: url("http://i.imgur.com/7uCjDOp.png") !important;
    background-position: center;
}

.message.from-residentdj > .icon {
    background-image: url("http://i.imgur.com/7uCjDOp.png") !important;
    background-position: center;
}

.emote.from-residentdj > .icon {
    background-image: url("http://i.imgur.com/7uCjDOp.png") !important;
    background-position: center;
}

.mention.from-residentdj > .icon {
    background-image: url("http://i.imgur.com/7uCjDOp.png") !important;
    background-position: center;
}

/* Subscriber Icons */

.icon-chat-subscriber {
    background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
    background-position: center;
}

.message.from-subscriber  > .icon {
    background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
    background-position: center;
}

.emote.from-subscriber  > .icon {
    background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
    background-position: center;
}

.mention.from-subscriber  > .icon {
    background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
    background-position: center;
}

#user-rollover .actions .giftsub i {
	  background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
	  background-position: center;
}

#user-rollover .meta.subscriber .status i {
	  background-image: url("http://i.imgur.com/u9VY4kU.png") !important;
	  background-position: center;
}

/* SilverSubscriber Icons */

.icon-chat-subscriber.silver {
    background-image: url("http://i.imgur.com/X676TJf.png") !important;
    background-position: center;
}

.message.from-subscriber.silver  > .icon {
    background-image: url("http://i.imgur.com/X676TJf.png") !important;
    background-position: center;
}

.emote.from-subscriber.silver  > .icon {
    background-image: url("http://i.imgur.com/X676TJf.png") !important;
    background-position: center;
}

.mention.from-subscriber.silver  > .icon {
    background-image: url("http://i.imgur.com/X676TJf.png") !important;
    background-position: center;
}

#user-rollover .meta.subscriber.silver .status i {
	  background-image: url("http://i.imgur.com/X676TJf.png") !important;
	  background-position: center;
}

#user-store .badges .grid .cell:hover>.top {
    background: url("http://i.imgur.com/oCPDilR.jpg") !important;
}

#user-store .badges .grid .cell .top {
	background: url("http://i.imgur.com/DgpS3gd.jpg") !important;
}

#user-inventory .badges .grid .cell:hover {
    background: url("http://i.imgur.com/oCPDilR.jpg") !important;
}

#user-inventory .badges .grid .cell.selected {
	background: url("http://i.imgur.com/DgpS3gd.jpg") !important;
}

#user-inventory .badges .grid .cell {
	background: url("http://i.imgur.com/DgpS3gd.jpg") !important;
}

#user-inventory .grid .cell:hover>.top {
    background: url("http://i.imgur.com/oCPDilR.jpg") !important;
}

#user-inventory .grid .cell .top {
    background: url("http://i.imgur.com/DgpS3gd.jpg") !important;
}

/* Staff Colors */

.is-staff .name {
    color: #FF6300;
}

#chat .mention.is-staff {
    background: linear-gradient(135deg, #FF6300 0, #000000 13%, #0a0a0a 100%) !important;
}

/* Admin Colors */

.ul-admin { 
    color: #FF6300; 
}

.origem-color-admin { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-admin + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-admin + .name { 
    color: #FF6300 !important;
}

.message.from-admin > .from { 
    color: #FF6300 !important;
}

.emote.from-admin > .from { 
    color: #FF6300 !important;
}

.mention.from-admin > .from { 
    color: #FF6300 !important;
}

.icon-chat-admin ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-admin ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-admin ~ span { 
    color: #FF6300 !important;
}

/* Ambassador Colors */

.ul-ambassador { 
    color: #FF6300; 
}

.origem-color-ambassador { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-ambassador + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-ambassador + .name { 
    color: #FF6300 !important;
}

.message.from-ambassador > .from { 
    color: #FF6300 !important;
}

.emote.from-ambassador > .from { 
    color: #FF6300 !important;
}

.mention.from-ambassador > .from { 
    color: #FF6300 !important;
}

.icon-chat-ambassador ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-ambassador ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-ambassador ~ span { 
    color: #FF6300 !important;
}

/* Host Colors */

.ul-host { 
    color: #FF6300; 
}

.origem-color-host { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-host + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-host + .name { 
    color: #FF6300 !important;
}

.message.from-host > .from { 
    color: #FF6300 !important;
}

.emote.from-host > .from { 
    color: #FF6300 !important;
}

.mention.from-host > .from { 
    color: #FF6300 !important;
}

.icon-chat-host ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-host ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-host ~ span { 
    color: #FF6300 !important;
}

/* Cohost Colors */

.ul-cohost { 
    color: #FF6300; 
}

.origem-color-cohost { 
    color: #FF6300 !important;
}

#chat-messages:not(.is-none) .user > .icon-chat-cohost + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-cohost + .name { 
    color: #FF6300 !important;
}

.message.from-cohost > .from { 
    color: #FF6300 !important;
}

.emote.from-cohost > .from { 
    color: #FF6300 !important;
}

.mention.from-cohost > .from { 
    color: #FF6300 !important;
}

.icon-chat-cohost ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-cohost ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-cohost ~ span { 
    color: #FF6300 !important;
}

/* Manager Colors */

.ul-manager { 
    color: #FF6300;
}

.origem-color-manager { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-manager + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-manager + .name { 
    color: #FF6300 !important;
}

.message.from-manager > .from { 
    color: #FF6300 !important;
}

.emote.from-manager > .from { 
    color: #FF6300 !important;
}

.mention.from-manager > .from { 
    color: #FF6300 !important;
}

.icon-chat-manager ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-manager ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-manager ~ span { 
    color: #FF6300 !important;
}

/* Bouncer Colors */

.ul-bouncer { 
    color: #FF6300;
}

.origem-color-bouncer { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-bouncer + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-bouncer + .name { 
    color: #FF6300 !important;
}

.message.from-bouncer > .from { 
    color: #FF6300 !important;
}

.emote.from-bouncer > .from { 
    color: #FF6300 !important;
}

.mention.from-bouncer > .from { 
    color: #FF6300 !important;
}

.icon-chat-bouncer ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-bouncer ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-bouncer ~ span { 
    color: #FF6300 !important;
}

/* Resident Dj Colors */

.ul-dj { 
    color: #FF6300;
}

.origem-color-dj { 
    color: #FF6300 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-dj + .name { 
    color: #FF6300 !important;
}

#user-lists .user > .icon-chat-dj + .name { 
    color: #FF6300 !important;
}

.message.from-residentdj > .from { 
    color: #FF6300 !important;
}

.emote.from-residentdj > .from { 
    color: #FF6300 !important;
}

.mention.from-residentdj > .from { 
    color: #FF6300 !important;
}

.icon-chat-dj ~ .text > .name { 
    color: #FF6300 !important;
}

.icon-chat-dj ~ .from { 
    color: #FF6300 !important;
}

.icon-chat-dj ~ span { 
    color: #FF6300 !important;
}

/* Gold Subscriber Colors */

.ul-subscriber { 
    color: #FFEE00;
}

.origem-color-subscriber { 
    color: #FFEE00 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-subscriber + .name { 
    color: #FFEE00 !important;
}

#user-lists .user > .icon-chat-subscriber + .name { 
    color: #FFEE00 !important;
}

.message.from-subscriber > .from { 
    color: #FFEE00 !important;
}

.emote.from-subscriber > .from { 
    color: #FFEE00 !important;
}

.mention.from-subscriber > .from { 
    color: #FFEE00 !important;
}

.icon-chat-subscriber ~ .text > .name { 
    color: #FFEE00 !important;
}

.icon-chat-subscriber ~ .from { 
    color: #FFEE00 !important;
}

.icon-chat-subscriber ~ span { 
    color: #FFEE00 !important;
}

#user-rollover .meta.subscriber .status i {
    color: #FFEE00;
}

/* Silver Subscriber Colors */

.ul-subscriber.silver { 
    color: #DEDEDE;
}

.origem-color-subscriber.silver { 
    color: #DEDEDE !important;
}

#user-panel:not(.is-none) .user > .icon-chat-subscriber.silver + .name { 
    color: #DEDEDE !important;
}

#user-lists .user > .icon-chat-subscriber.silver + .name { 
    color: #DEDEDE !important;
}

.message.from-silversubscriber > .from { 
    color: #DEDEDE !important;
}

.emote.from-silversubscriber > .from { 
    color: #DEDEDE !important;
}

.mention.from-silversubscriber > .from { 
    color: #DEDEDE !important;
}

.icon-chat-subscriber.silver ~ .text > .name { 
    color: #DEDEDE !important;
}

.icon-chat-subscriber.silver ~ .from { 
    color: #DEDEDE !important;
}

.icon-chat-subscriber.silver ~ span { 
    color: #DEDEDE !important;
}

#user-rollover .meta.subscriber.silver .status i {
    color: #DEDEDE;
}

/* Vote */

#vote .crowd-response.disabled .bottom {
     background: #000000;
}

#vote .crowd-response {
     background: #000000;
}

#vote .crowd-response .top {
     background: #000000;
}

#vote .crowd-response {
    background: none;
}

#vote .bottom {
     width: calc(100% - 1px);
}

.votes-rs {
     background-color: rgba(0, 0, 0, 0.50) !important;
}

/* Woot */

.icon-woot {
     -webkit-filter: hue-rotate(130deg);
}

#woot .top {
     color:  #00FF00;
}

#woot .bottom {
     background: #000000;
     border-top: 2px solid #00FF00;
     border-bottom: 2px solid #00FF00;
     color: #00FF00;
     box-shadow: 4px 0px 20px -4px #00FF00 inset;
}

#woot {
     box-shadow: 0px 7px 14px -4px #00FF00 !important;
}

#woot.crowd-response.disabled.active .bottom {
     background: #000000;
}

#woot-rs .title {
     background: #000000;
     border-top: 2px solid #00FF00;
     border-bottom: 2px solid #00FF00;
     color: #00FF00;
     box-shadow: 4px 0px 20px -4px #00FF00 inset;
}

/* Grab */

#grab .top {
     color: #FF6300;
}

#grab .bottom {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 20px -4px #FF6300 inset;
}

#grab {
     box-shadow: 0px 7px 14px -4px #FF6300 !important;
}

#grab-rs .title {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 20px -4px #FF6300 inset;
}

/* Meh */

#meh .top {
     color: #FF0000;
}

#meh .bottom {
     background: #000000;
     border-top: 2px solid #FF0000;
     border-bottom: 2px solid #FF0000;
     color: #FF0000;
     box-shadow: -4px 0px 20px -4px #FF0000 inset;

}

#meh {
     box-shadow: 0px 7px 14px -4px #FF0000 !important;
}

#meh-rs .title {
     background: #000000;
     border-top: 2px solid #FF0000;
     border-bottom: 2px solid #FF0000;
     color: #FF0000;
     box-shadow: -4px 0px 20px -4px #FF0000 inset;
}

/* Dj-button */

#dj-button {
     background-color: rgba(0, 0, 0, 0) !important;
}

#dj-button:hover {
     background-color: rgba(0, 0, 0, 0.35) !important;
}

#dj-button .left {
     background: rgba(0, 0, 0, 0) !important;
}

#dj-button {
     left: 25px !important;
     right: 960px !important;
     margin: auto;
}

.video-only #dj-button {
     left: 0px !important;
}

#dj-button {
     width: 72px !important;
}

#dj-button span{
     opacity: 0;
     width: 120px;

}

#dj-button:hover span {
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
     opacity: 1.0;
     width: 148px;
}

#dj-button:hover {
     width: 230px !important;
}

#dj-button.is-locked {
     cursor: no-drop;
}

#dj-button.is-full {
     border: 2px solid #000000;
}

#dj-button.is-locked {
     border: 2px solid #000000;
}

#dj-button.is-leave {
     background: #000000;
     border-top: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 4px 0px 18px -4px #FF6300 inset;
}

#dj-button.is-quit {
     background: #000000;
     border-top: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 4px 0px 18px -4px #FF6300 inset;
}

#dj-button {
     background: #000000;
     border-top: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 4px 0px 18px -4px #FF6300 inset;
}

#dj-button span {
     pointer-events: none;
}

#dj-button:hover span {
     pointer-events: auto;
}

#dj-button {
     -webkit-transition:     all 0.3s ease;
     -moz-transition:        all 0.3s ease;
     -o-transition:          all 0.3s ease;
     transition:             all 0.3s ease;
}

#dj-button span {
     -webkit-transition:     all 0.3s ease;
     -moz-transition:        all 0.3s ease;
     -o-transition:          all 0.3s ease;
     transition:             all 0.3s ease;
}

#dj-button.is-leave {
    border-bottom: 2px solid #FF6300;
    box-shadow: 0px 7px 14px -6px #FF6300;
}

#dj-button.is-quit {
    border-bottom: 2px solid #FF6300;
    box-shadow: 0px 7px 14px -6px #FF6300;
}

#dj-button {
    background: #000000;
    border-bottom: 2px solid #FF6300;
    box-shadow: 0px 7px 14px -6px #FF6300;
}

/* Pop-menu */

.pop-menu.grab {
     background: transparent;
}

.pop-menu.grab .bar {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .bar .bar-divider {
     background: #AAA;
}

.pop-menu.grab .menu::-webkit-scrollbar-thumb {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu.grab .menu ul {
     background: rgba(0,0,0,.5)
}

.pop-menu.grab .menu ul li:hover {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu.grab .menu ul li.create:hover {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .bar {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .bar-divider {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .menu ul {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .menu ul i + span {
	font-weight: bold;
}

.pop-menu .menu ul li:hover {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .menu ul .create:hover {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .menu::-webkit-scrollbar {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

.pop-menu .menu::-webkit-scrollbar-thumb {
     background: #000000;
     border-top: 2px solid #FF6300;
     border-bottom: 2px solid #FF6300;
     color: #FF6300;
     box-shadow: 0px 0px 18px -4px #FF6300 inset;
}

